* {
  margin: 0;
  padding: 0;
}
Body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.header1 {
  background-color: darksalmon;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: white;
  text-shadow: 0 4px rgba(0, 0, 0, 0.3);
}
.header1 {
  animation-name: myrotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: transparent;
  color: black;
}

@keyframes myrotate {
  from {
    transform: rotateX(360deg);
    height: 100%;
  }
  to {
    transform: rotateX(0deg);
    height: 300%;
  }
}

.nav {
  background-color: rgb(233, 150, 122);
  overflow: hidden;
  display: flex;
}
.nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.nav a:hover {
  background-color: rgba(256, 150, 128, 0.7);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  font-weight: bolder;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

h1 {
  background-color: rgb(233, 150, 122);
  display: block;
  font-size: 3rem;
  margin: 0px;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  color: white;
}
h2 {
  padding: 5px;
  margin: 1vw;
}

p {
  font-size: 1.5rem;
  margin-left: 1vw;
  margin-right: 1vw;
}
.firstp {
  transition: background-color 0.2s, border-width 0.2s;
}
.firstp:hover {
  background-color: rgba(129, 133, 140, 0.5);
  border-style: dashed;
  border-color: black;
  border-width: 2px;
}

ul {
  font-size: 1.5rem;
  font-weight: bold;
}

li {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: 1vw;
  font-weight: normal;
}
.secdetails {
  margin-top: 1vw;
}
summary {
  font-size: 1.5rem;
}

p2 {
  font-size: 1.5rem;
  margin: 5px;
  padding: 10px;
  float: right;
}

img {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.gtr {
  margin-right: auto;
  width: 50%;
  float: left;
}
.porsche {
  margin-right: auto;
  width: 50%;
  float: right;
}

summary:hover {
  background-color: rgba(129, 133, 140, 0.5);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
}
details {
  display: inline-block;
  margin-left: 1vw;
  transition: background-color 0.45s, font-weight 0.15s;
}

button {
  text-decoration: none;
  margin-bottom: 1em;
}

input {
  border-color: black;
  border-width: 1.5px;
  border-radius: 4px;
}
input:hover {
  background-color: rgba(106, 228, 249, 0.76);
  border-color: rgb(38, 157, 248);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
footer {
  margin: 1vw;
}

.contact {
  position: relative;
  animation-name: mymove;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mymove {
  0% {
    transform: translateX(0%);
    color: deepskyblue;
    font-size: 30px;
  }
  25% {
    transform: translateX(40%);
    color: orange;
  }
  50% {
    transform: translateX(80%);
    color: deepskyblue;
    font-size: 24px;
  }
  75% {
    transform: translate(40%);
    font-size: 24px;
    color: orange;
  }
  100% {
    transform: translateX(0%);
    color: deepskyblue;
    font-size: 30px;
  }
}
